.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 30px;
}

.conta-container {
  width: 80%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.conta {
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.conta:hover {
  box-shadow: 5px 5px 10px #bbb;
  transition: 0.5s;
}
.conta:not(:hover) {
  box-shadow: none;
  transition: 0.5s;
}

.button-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.conta-titulo {
  font-weight: bolder;
  color: #2081c6;
}

span {
  font-weight: bold;
}