.header {
    background-color: #29C8DB;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nome-projeto h1 {
    margin-left: 40px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
        margin-right: 30px;
    }
}

.button {
    background-color: black;
    color: #29c8db;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}