* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
  }
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  
  /* Cores:
  principal: #0280b3 
  destaque: 
  alerta: */