/** Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p {
  font-size: 16px;
}

/** Cores */
/* principal: #29c8db
   secundária: #2081c6 (azul) (versão mais clara: #2e9ceb)
   terciária: #2adbb2 (verde)

   editar: #f9ba28
   deletar: #fa2c2c */


/** Botões */
.button {
  background-color: #29c8db;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.yellow {
  background-color: #f9ba28;
}

.red {
  background-color: #fa2c2c;
}

.green {
  background-color: #2adb88;
}

.button:hover {
  opacity: .75;
  transition: .3s;
}

.button:not(:hover) {
  opacity: 1;
  transition: .3s;
}


/** Selecionar texto */

::selection {
  color: white;
  background: #2081c6;
}

::-moz-selection {
  color: white;
  background: #2081c6;
}